.card {
  max-width: 413px;
}

.card__image {
  width: 413px;
  height: 413px;
  padding: 0;
  margin: 0;
  border-radius: 8px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.card__like-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.4;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-icon {
  width: 23px;
  height: 20px;
  border: 20px;
}

.card__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  max-width: 350px;
}

@media screen and (max-width: 627px) {
  .card {
    max-width: 288px;
  }

  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__content {
  }

  .card__title {
    font-size: 16px;
  }
}
