.footer {
  margin: 0 auto;
  display: flex;
}

.footer__copyright {
  margin: 0 auto;
  padding: 60px 0 60px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #212121;
  opacity: 70%;
}
