.gallery {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 0 40px;
  border-bottom: 1px #21212166 solid;
}

.gallery__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  justify-content: center;
}

@media screen and (max-width: 627px) {
  .gallery__list {
    grid-template-columns: repeat(auto-fit, 288px);
    row-gap: 20px;
  }

  .gallery {
    padding-bottom: 20px;
  }
}
