.page {
    background-color: #FCF5E5;
    min-height: 100vh;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #212121 ;
    }

    @media screen and (max-width: 627px) {

    .page {

    }
        
    }