.profile {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  border-bottom: 1px #21212166 solid;
  padding: 34px 0 20px 0;
}

.profile__button-large {
  margin-left: auto;
  align-self: end;
  outline: none;
  border: none;
  background-color: #fcf5e5;
  cursor: pointer;
}

.profile__button-large:hover {
  opacity: 0.6;
}

.profile__description {
  margin: 0 0 18px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #212121;
  opacity: 70%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 288px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

.profile__avatar {
  margin-right: 20px;
  width: 190px;
  height: 190px;
  border-radius: 8px;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__button {
  color: #212121;
  margin-right: 350px;
  border: none;
  background-color: #fcf5e5;
  opacity: 70%;
  cursor: pointer;
}

.profile__button:hover {
  opacity: 0.6;
}

.profile__edit-button {
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    margin-bottom: 20px;
  }

  .profile__picture {
    width: 80px;
    height: 80px;
  }

  .profile__column {
    align-items: center;
  }

  .profile__button {
    margin: 32px 0 20px 0;
  }

  .profile__button-large {
    width: 288px;
  }

  .profile__post-image {
    width: 100%;
  }

  .profile__name {
    margin: 12px 0 6px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
  }

  .profile__description {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0;
  }
}
